<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nhibernate_nlog" type="System.Configuration.NameValueSectionHandler"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nhibernate_nlog>
    <add key="debug" value="false"/>
    <add key="info" value="true"/>
  </nhibernate_nlog>
  <appSettings>
    <add key="nhibernate-logger"
              value="NHibernate.Logging.NLogFactory, NLog4NHibernate"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="asyncFileError" xsi:type="AsyncWrapper">
        <target name="file"  xsi:type="File" layout="${date:format=dd/MM/yyyy HH\:mm\:ss.mmm}${newline}${level} ${logger} - ${exception:format=tostring} [${callsite}]${newline}"
              fileName="Log.log"
              archiveFileName="Log.{#####}.log"
              archiveAboveSize="10000240"
              archiveNumbering="Sequence"
              maxArchiveFiles="3" encoding="UTF-8"  createDirs="true" />
      </target>
      <target name="asyncFileNHibernate" xsi:type="AsyncWrapper">
        <target name="file"  xsi:type="File" layout="${date:format=dd/MM/yyyy HH\:mm\:ss.mmm}${newline}${level} ${logger} ${message} ${newline}"
              fileName="NHibernate.log"
              archiveFileName="NHibernate.{#####}.log"
              archiveAboveSize="10000240"
              archiveNumbering="Sequence"
              maxArchiveFiles="3" encoding="UTF-8"  createDirs="true" />
      </target>
    </targets>
    <rules>
      <logger name="NHibernate.Logging.NLogLogger" writeTo="asyncFileNHibernate" final="true"/>
      <logger name="*" writeTo="asyncFileError"/>
    </rules>
  </nlog>

</configuration>
